.container {
    display: flex;
    justify-content: center;
    padding: 16px 0 13px 0;
    width: 100vw;
    background-color: #eaeaea ;
    font-family: 'SF UI Text Regular';
    font-size: 14px;
    color: gray;
    position: fixed;
}

.container>:first-child{
    margin-right: 45px;
}

.container label{
    margin-right: 15px;
}

.input {
    border: 1px solid #979797;
    min-width: 100px;
    height: 31px;
    border-radius: 11px;
    padding: 0 4px;
    outline: none;
}